name: Publish to PyPI

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  local-deps-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies with Poetry
        run: |

          poetry source add coredumped --priority supplemental https://pypi.coredumped.tech
          poetry config http-basic.coredumped ${{ secrets.PYPI_COREDUMPED_USER }} ${{ secrets.PYPI_COREDUMPED_PASSWORD }}
          poetry install

  validate-version:
    needs: local-deps-check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract tag version
        id: tag
        run: |
          echo "TAG_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Extract pyproject.toml version
        id: pyproject
        run: |
          VERSION=$(grep '^version =' pyproject.toml | head -1 | sed -E "s/version = \"([^\"]+)\"/\1/")
          echo "PYPROJECT_VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Compare versions
        run: |
          if [ "${{ steps.tag.outputs.TAG_VERSION }}" != "${{ steps.pyproject.outputs.PYPROJECT_VERSION }}" ]; then
            echo "Tag version (${{
              steps.tag.outputs.TAG_VERSION }}) does not match pyproject.toml version (${{
              steps.pyproject.outputs.PYPROJECT_VERSION }})"
            exit 1
          fi

    outputs:
      pyproject_version: ${{ steps.pyproject.outputs.PYPROJECT_VERSION }}

  publish:
    needs: validate-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Configure Poetry for PyPI
        run: |
          poetry source add coredumped --priority supplemental https://pypi.coredumped.tech
          poetry config http-basic.coredumped ${{ secrets.PYPI_COREDUMPED_USER }} ${{ secrets.PYPI_COREDUMPED_PASSWORD }}
          poetry install

      - name: Publish to PyPI
        run: |
          poetry build --format sdist
          poetry publish --repository coredumped -v
